body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chat_main_container{
    position: absolute;
    top:0;bottom: 0;left: 0;right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #6298c0, #44b3cd, #44cbc9, #75e0b5, #b7f09dd8);

}
.chat_header{
    position: fixed;
    top: 0;
    height: 2rem;
    width: 100%;    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slateblue;
    color: antiquewhite;
}
::-webkit-scrollbar {   /* this feature is only works on chrome & safari */
    display: none;
}
table{
    border-collapse: collapse;
    width: 100%;
}

.chat_body{
    position: fixed;    
    top: 3rem;
    width: 90%;
    height: 80%;
    /* overflow: auto;  scrolling */
    padding: 0.5rem 0.5rem;
    background-color: #ffffffd8;

    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
    border-radius: 1rem;
    display: flex;
}
.user_action_center{
    position: relative;
    width: 30%;
    border: 1px solid #c5e1eb;
    margin-right: 2px;
    padding: 0;
    border-radius: 1rem;
    
}
.action_bar , .contact_profile{
    width: 100%;
    height: 9.2%;
    background-color: #c5e1eb;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.action_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.action_bar_2{
    position: relative;
    width: 100%;
    margin: 0; padding:0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.add_group_icon{
    margin-right: 1rem;
}
.add_group_icon p{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    color: #48b6d8ef;
}

/*  adding new group */
.add_new_group_container{
    position: fixed;
    top: 0; bottom:0; left: 0; right: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0.9;

    display: none;
    align-items: center;
    justify-content: center;
    
}
.add_new_group_container.active{
    display:flex;
}
.add_new_group_inner_container{
    background-color: #9eccd6;
    width: 40%;
    height: 40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    
}
.add_grp_1{
    width: 100%;
    height: 30%;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_grp_2{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
}
.add_grp_2 form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.add_grp_2 *{
    margin: 0 0 1rem;
}
.add_grp_2 input{
    outline: none;
    height: 1.5rem;
    width: 95%;
}
.add_grp_2 button{
    cursor: pointer;
}

.close_btn_container{
    position: relative;
    left: 1rem;
    top: -8rem;
}
.close_btn_container button{
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #9eccd6;
    color: black;
}


.contact_list , .chat_history{
    position: relative;
    width: 95%;
    overflow: auto; /** scrolling */
}
.contact_list {
    height: 87%;
    margin: 0;
    padding:0 0.3rem;
}
.profile{
    margin: 0 ;
    display: flex;
    align-items: center;
    background-color: #c5e1eb;
    padding: 5px;
    border-radius: 1rem;
}
.profile div p, h4{
    margin: 0;
    padding: 0;
}
.profile_img{
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}
.profile_img img{
    width:inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.parent_user{
    color: darkblue;
}
tr td p{
    margin: 0.5rem 0;
}
tr td.user{
    width: 5rem;
}
.member_chat{
    position: relative;
    width: 70%;
    margin-left: 2px;
    border: 1px solid #c5e1eb;
    border-radius: 1rem;
    padding: 0;
}
.contact_profile{
    
}
.add_group_member{
    position: absolute;
    right: 2rem;
}
button{
    cursor: pointer;
}

/*  chat history table container  */
.chat_history_container{
    position: relative;
    height: 83%;
    width: 100%;
    margin: 0 ;
    padding: 0;
    display: flex;
    flex-direction: column;
  
}
.admin_controlls{
    position: relative;
    top: 1%;
    width: 60%;
    height: 8%;
    margin: 0;
    padding: 0;
    background-color: #c5e1eb;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.admin_controlls.active{
    display: flex;
}
.file_msg{
    height: 60%;
    width: 60%;
}
.file_msg img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.chat_history{
    position: relative;
    width: 100%;
    margin: 0.5rem 0 0 0;
    padding: 0 2rem;
    height: 100%;
}
.add_group_members_container{
    position: absolute;
    right: 0px;
    width: 38%;
    min-height: 30%;
    max-height: 97.5%;
    background-color: #75e0b5b2;
    padding: 5px;
    overflow: auto;
    display: none;
    flex-direction: column;
   /* transform: translateY();*/

}
.add_group_members_container.active{
    display: flex;
}
.group_member_ele{
    height: 2.8rem;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin: 0 0 0.5rem 0;
    border-radius: 1rem;
}
.group_member_ele label{
    display: flex;
    align-items: center;
    
}
.group_member_ele .profile_img{
    max-width: 25%;
}
.contact_name{
    max-height: 2.5rem;
    max-width: 50%;
    overflow: auto; 
}


/* message input bar */
.msg_input_bar{
    width: 100%;
    height: 8%;
    background-color: #c5e1eb;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.msg_input_bar{
    display: flex;  
    align-items: center;
    justify-content: center;
}
.chat_input{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_input form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width:100%;
}
.chat_input input{
    width: 80%;
    height: 1.3rem;
    outline-style: none;
}
.chat_input button{
    margin: 0;
    height: 1.7rem;
    cursor: pointer;
}

.chat_footer{
    position: fixed;
    bottom:0;
    border: 1px solid slateblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: slateblue;
}